<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One Palce Release-Manager</title>

    @Styles.Render("~/Content/css")
    
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/angularJS")
    @Scripts.Render("~/Scripts/Application-main")


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Moment/moment")
    
    
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("OnePlace Release-Manager", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="dropdown active">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Deployment
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="active"><a href="/Release/List">Deployment Listt</a></li>
                            <li><a href="/Release/Detail">Deployment Detail</a></li>
                            <li><a href="/Release/Calendar">Deployment Calendar</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Setup
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="active"><a href="/Setup/Project">Projects</a></li>
                            <li><a href="/Setup/Thirdpartyservice">Third Party Services</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <div ng-app="oneplace" class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - One Place Release-Manager</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)

</body>
</html>
