<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One Palce</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/angularJS")
    @Scripts.Render("~/Moment/moment")
    @Scripts.Render("~/Scripts/Application-main")

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" />

</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("OnePlace", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Deployment
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li ><a href="/Release/List">Deployment List</a></li>
                            <li><a href="/Release/NewDeployment">New Deployment</a></li>
                            <li><a href="/Release/Calendar">Deployment Calendar</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Setup
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li ><a href="/Setup/Project">Projects</a></li>
                            <li><a href="/Setup/Languages">Languages</a></li>
                            <li><a href="/Setup/ThirdPartyService">Third Party Service  </a></li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <div ng-app="oneplace" class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - One Place</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)

</body>
</html>
